<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAsuuz2PS0nNIa_xAarqDAGoIJKCHuXI4g</string>
	<key>GCM_SENDER_ID</key>
	<string>234922423617</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>MRHS.Velvet</string>
	<key>PROJECT_ID</key>
	<string>velvetapp-7ae4e</string>
	<key>STORAGE_BUCKET</key>
	<string>velvetapp-7ae4e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234922423617:ios:3627eafa8533c2e4dcddc0</string>
</dict>
</plist>